In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
Hamoye_data=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='Latin-1')
Hamoye_data.to_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',index=False)

In [4]:
Hamoye_data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [63]:
Hamoye_data.head(250)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018,percent
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00,0.499860
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00,0.000000
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00,0.041566
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83,0.001168
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28,0.000954
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,4,Algeria,2542,Sugar (Raw Equivalent),664,Food supply (kcal/capita/day),kcal/capita/day,262.00,264.00,266.00,265.00,264.00,0.003279
246,4,Algeria,2542,Sugar (Raw Equivalent),674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00,0.000000
247,4,Algeria,2542,Sugar (Raw Equivalent),684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00,0.000000
248,4,Algeria,2543,"Sweeteners, Other",5511,Production,1000 tonnes,107.00,114.00,112.00,128.00,155.00,0.001381
249,4,Algeria,2543,"Sweeteners, Other",5611,Import Quantity,1000 tonnes,38.00,37.00,47.00,36.00,39.00,0.000579

In [6]:
Hamoye_data.groupby('Item')['Y2014','Y2017'].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [7]:
Hamoye_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
Hamoye_data['percent'] = (Hamoye_data['Y2016'] / Hamoye_data['Y2016'].sum()) * 100
print(Hamoye_data['percent'])

0        4.998599e-01
1        0.000000e+00
2        4.156563e-02
3        1.167585e-03
4        9.540864e-04
             ...
60938    4.067810e-04
60939    2.896774e-05
60940    3.698009e-05
60941    9.861358e-07
60942    3.698009e-07
Name: percent, Length: 60943, dtype: float64

In [9]:
Hamoye_data.corr(method='pearson')

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018,percent
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665,0.005247
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314,0.020109
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279,0.023444
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872,0.996081
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208,0.995739
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757,1.000000
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103,0.992785
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000,0.992757
percent,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757,1.000000

In [10]:
Hamoye_data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018,percent
Element,,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10,25.206158
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80,1.872678
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69,0.124534
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68,2.822304
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28,15.371666
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00,5.569325
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85,0.603827
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09,3.532619
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00,1.944993
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97,0.857490
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00,3.459254
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89,23.957395
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56,0.145205
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00,0.458849
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14,0.288312
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91,0.408508
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00,13.375786
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00,0.001097

In [11]:
Hamoye_data.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [61]:
Hamoye_data.groupby(["Element" , "Area"]).sum().head(350)

                                       Area Code  Item Code  Element Code  \
Element                  Area
Domestic supply quantity Algeria             464     311204        614916
                         Angola              826     316106        625518
                         Benin              6148     310985        614916
                         Botswana           2340     313766        620217
                         Burkina Faso      27494     316106        625518
...                                          ...        ...           ...
Import Quantity          Eswatini          24244     311265        650876
                         Ethiopia          27370     308668        645265
                         Ethiopia PDR        310      13835         28055
                         Gabon              8436     305946        639654
                         Gambia             7875     282017        589155

                                          Y2014     Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria       83755.94  85972.86  87157.61  86810.42
                         Angola        53786.91  55482.91  55719.68  57065.22
                         Benin         29864.06  27661.67  30650.03  32132.90
                         Botswana       2670.84   2916.14   2921.83   2579.85
                         Burkina Faso  24637.15  23658.17  24498.86  23276.16
...                                         ...       ...       ...       ...
Import Quantity          Eswatini        753.05    751.86    811.90    887.53
                         Ethiopia       5090.56   6845.49   8827.95   5934.24
                         Ethiopia PDR      0.00      0.00      0.00      0.00
                         Gabon          1030.05   1139.13   1072.69   1026.75
                         Gambia          903.75    899.08    961.78   1061.10

                                          Y2018   percent
Element                  Area
Domestic supply quantity Algeria       90023.42  1.074366
                         Angola        59590.22  0.686840
                         Benin         31447.90  0.377814
                         Botswana       3045.85  0.036017
                         Burkina Faso  25705.16  0.301990
...                                         ...       ...
Import Quantity          Eswatini        936.53  0.010008
                         Ethiopia       5655.24  0.108819
                         Ethiopia PDR      0.00  0.000000
                         Gabon          1079.75  0.013223
                         Gambia         1212.10  0.011856

[350 rows x 9 columns]

In [68]:
Hamoye_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 13 columns):
Area Code       60943 non-null int64
Area            60943 non-null object
Item Code       60943 non-null int64
Item            60943 non-null object
Element Code    60943 non-null int64
Element         60943 non-null object
Unit            60943 non-null object
Y2014           59354 non-null float64
Y2015           59395 non-null float64
Y2016           59408 non-null float64
Y2017           59437 non-null float64
Y2018           59507 non-null float64
percent         59408 non-null float64
dtypes: float64(6), int64(3), object(4)
memory usage: 6.0+ MB

In [69]:
Hamoye_data.shape

(60943, 13)

In [70]:
Hamoye_data["Area"].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "CÃ\x83Â´te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [72]:
len(Hamoye_data["Area"].unique().tolist())

49

In [81]:
Hamoye_data["Element"].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [82]:
Hamoye_data.loc[:,["Element","Area","Y2018"]]

                                      Element      Area     Y2018
0               Total Population - Both sexes   Algeria  42228.00
1                    Domestic supply quantity   Algeria      0.00
2               Food supply (kcal/capita/day)   Algeria   3322.00
3      Protein supply quantity (g/capita/day)   Algeria     91.83
4          Fat supply quantity (g/capita/day)   Algeria     77.28
...                                       ...       ...       ...
60938                                    Food  Zimbabwe     16.00
60939     Food supply quantity (kg/capita/yr)  Zimbabwe      1.08
60940           Food supply (kcal/capita/day)  Zimbabwe      1.00
60941  Protein supply quantity (g/capita/day)  Zimbabwe      0.04
60942      Fat supply quantity (g/capita/day)  Zimbabwe      0.01

[60943 rows x 3 columns]

In [95]:
Hamoye_data.iloc[12:].sum().head()

Area Code                                                 8182499
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                               163730468
Item            Cereals - Excluding BeerCereals - Excluding Be...
Element Code                                            232471408
dtype: object

In [100]:
Hamoye_data.isnull().mean()

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           0.026074
Y2015           0.025401
Y2016           0.025187
Y2017           0.024712
Y2018           0.023563
percent         0.025187
dtype: float64

In [103]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

In [108]:
pd.DataFrame(lst, columns= ['Age','Nationality','Overall'], index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [109]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [110]:
array

[[94, 89, 63], [93, 92, 48], [92, 94, 56]]

In [120]:
array[:1]

[[94, 89, 63]]

In [121]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [122]:
x = y[1][1]

In [123]:
x

8